body {
	font-size:16px;
	line-height:25px;
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", sans-serif;
}

.highlight {
	font-family: 'Indie Flower', cursive;
, .h1, .h2, .h3, .h4, .h5, .h6}

a {
	color:#428bca;
}

/*------- HEADER --------*/

#header {
	background: url(../img/header1.jpg) no-repeat center center;
	background-size: cover;
}

#header .header-bottom {
	bottom:0;
	background: url(../img/w-page-top.png) repeat-x center bottom;
	height:50px;
	width:100%;
}

#header .header-inner {
  height: 400px;
}
#header .header-inner .container {
  padding-top: 20px;
  text-align: left;
}
#header h2 {
	color:#777;
}

#header h2 .rotator {
	color:#383838;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.05em;
  padding-left: 1.5em;
}
#header h2 {
  text-align: right;
}
.stretchr-logo {
  height: 1.05em;
  vertical-align: bottom;
  position: absolute;
  margin-left: -1.5em;
}


/*------------ FEATURES -------------*/

#features {
	color:#f1f1f1;
  padding-top: 10px;
}

#features .feature {
	padding:15px;
	color:#000;
	min-height: 200px;
	text-align:center;
	margin: 10px 0;
}

#footer {
	background:#303030;
	color:#f1f1f1;
}

#sdks {
	background:#efefef;
	color:#303030;
}

#cognition {
	color:#303030;
}

#cognition .panel img {
	width:100%;
}

pre {
  font-size: 0.6em;
}

.slice {
	margin-top:-10px;
	padding:50px 0;
	position:relative;
}

.slice-bottom {
	height:20px;
	position:absolute;
	bottom:0;
	width:100%;
	background: url(../img/shadow-btm.png) no-repeat bottom center;
}

.section-highlight {
	text-align:center;
}

.section-highlight h2 {
	margin:40px 0;
}

.section-highlight .title {
	line-height:72px;
	padding:0;
	margin:0;
	font-size:34px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	#header h1, #header h2 {
		text-align:center;
	}
}

