body {
	font-size:16px;
	line-height:27px;
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", sans-serif;
}

.highlight {
	font-family: 'Indie Flower', cursive;
}

a {
	color:#428bca;
}

.slice-header {
	text-align:center;
	font-size:30px;
	color: #303030;
	font-weight:bolder;
}

.slice-subheader {
	text-align:center;
	font-size:20px;
	color:#999;
	font-weight:normal;
}

.btn-default {
	background: #3a92cf;
	color: #fff;
	border: none;
}

.btn-default:hover {
	background: #377dbc;
	color:#fff;
}

/*------- HEADER --------*/

#header {
	background: #202020;
	color:#fff;
	overflow:hidden;
}

#header .nav {
	padding:10px;
}

#header .nav a {
	color:#f1f1f1;
}

#header .nav a:hover {
	background:#404040;
}

#header .nav .active a {
	background:#404040;
}

#header .logo {
  height:30px;
  margin:20px 0;
}


/*-------- Intro ---------*/
#intro {
	background:#101010 url(../img/header-dark.jpg) no-repeat center bottom;
	min-height:700px;
}

#intro h2 {
	text-align:center;
	color:#f1f1f1;
	font-size:70px;
	margin-top:50px;
	font-weight:bolder;
}

#intro h4 {
	text-align:center;
	color:#999;
	font-size:30px;
	margin-top:45px;
}

#intro .cta {
	text-align:center;
	padding:100px 0 60px 0;
}

#intro .cta .btn {
	padding:20px 40px;
	border-bottom:3px solid darkred;
	height:65px;
}

#intro .cta .input-lg {
	padding:20px 40px;
	line-height:50px;
	height:65px;
}

#intro .bottom-text {
	padding:50px 0;
	text-align:center;
	color:#777;
}

/*-------- CALL TO ACTION ----------*/
#call-to-action {
	background:#303030;
	color:#fff;
	padding: 40px 0;
	margin-top:0;
}

.call-to-action-text {
	text-align:center;
}

/*--------- Getting Started ---------*/

#getting-started {
	background:#f9f9f9;
}

#getting-started .step-container {
	text-align:center;
	margin:20px 0;
	position:relative;
}
#getting-started .step-container img {
	width:300px;
	margin:0 auto;
	z-index:100;
	position:relative;
}

#getting-started .step h3 {
	text-align:left;
	font-size:30px;
	margin-top:100px;
}

#getting-started .step.step-right {
	text-align:right;
}

#getting-started .step.step-right h3 {
	text-align:right;
}

#getting-started .step-container img.dotted-right {
	position:absolute;
	width:auto;
	top:150px;
	left:220px;
	z-index: 1;
}

#getting-started .step-container img.dotted-left {
	position:absolute;
	width:auto;
	top:150px;
	right:220px;
	z-index: 1;
}

#difference .features {
	text-align:center;
	margin:50px 0;
}

#difference .features h4 {
	font-weight:bold;
}

#difference .features p {
	color:#999;
}

#difference .features img {
	width:200px;
}

/*----------- Easy Section ----------*/
#signup {
	background:#f9f9f9;
}

#signup form {
	margin: 50px 0;
}

#signup .btn {
	border-bottom: 3px solid darkred;
}

/*--------- example -----------*/
#example {
	background:#404040;
}

#example .slice-header {
	color:#f1f1f1;
}


/*------------ FEATURES -------------*/

#sdks {
	background:#f1f1f1;
	color:#303030;
}

#cognition {
	color:#303030;
}

#cognition .panel img {
	width:100%;
}

pre {
  font-size: 0.6em;
}

.slice {
	padding:40px 0;
	position:relative;
}

/*----- Testimonial -----*/

#testimonial {
	background: #fff;
	box-shadow: 0  0 5px #000;
}

#testimonial .testimonial-intro {
	text-align:center;
}

#testimonial .testimonial-logo {
	width:100%;
}

#testimonial .quote {
	font-size:22px;
	line-height:33px;
	font-weight:bold;
	padding:40px 15px 15px 50px;
	background: url(../img/quotes.png) no-repeat top left;
}

#testimonial .attribution {
	padding-left:50px;
	color:#777;
}

/*----- animations -------*/

.permissions-animation img {
	position:absolute;
	transition:All 1s;
	-webkit-transition:All 1s;
	-moz-transition:All 1s;
	-o-transition:All 1s;
	top:0;
	right:50px;
	width:400px;
}

.animation {
	transition:All 1s;
	-webkit-transition:All 1s;
	-moz-transition:All 1s;
	-o-transition:All 1s;
}

.permissions-animation .permissions-4{
	transform: rotate(-100deg);
	-webkit-transform: rotate(-100deg);
	-moz-transform: rotate(-100deg);
}

.permissions-animation .permissions-2{
	transform: rotate(88deg);
	-webkit-transform: rotate(88deg);
	-moz-transform: rotate(88deg);
}
.permissions-animation .permissions-3{
	transform: rotate(-65deg);
	-webkit-transform: rotate(-65deg);
	-moz-transform: rotate(-65deg);
}

.permissions-animation.active img {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

/*word drop*/

.nesting-animation {
	padding-top:0px;
}
.collection, .collection-id {
	font-size: 14px;
	font-weight:bold;
	padding:2px 10px;
	color: #fff;
	display:inline-block;
	border-radius:5px;
	margin:2px 0;
}

.level-1, .level-2 {
	background: #00a79d;
}

.level-3, .level-4, .level-6, .level-7 {
	background: #c69bc7;
}

.level-5, .level-8, .level-9, .level-10 {
	background: #ee999a;
}

.active.level-2 {
	margin-left: 15%;
}

.active.level-3 {
	margin-left: 30%
}

.active.level-4 {
	margin-left: 45%;
}

.active.level-5 {
	margin-left: 60%;
}

.active.level-7 {
	margin-left:15%;
}

.active.level-8 {
	margin-left:30%;
}

.active.level-10 {
	margin-left:15%;
}

/*----- Whitepapers ------*/

.resources #intro {
	min-height:350px;
}

.whitepaper-section {
	border-bottom: 1px solid #f1f1f1;
	padding: 20px 0;
}

.whitepaper-section:last-child {
	border-bottom:none;
}

.cover-container {
	text-align:center;
}

img.cover {
	margin: 0 auto;
	width:300px;
	border: 3px solid #e8e8e8;
}


/*---- FOOTER ----*/

.copyright {
	text-align:right;
}

#footer {
	background:#f9f9f9;
	color:#404040;
}

#footer .copyright {
  color: #999;
}

#footer a {
	color:#404040;
}

/* Mobile */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

	#header {
		text-align:center;
	}

	#intro {
		min-height:500px;
	}

	#intro .cta {
		padding:10px 0;	
	}

	#intro h2 {
		font-size:40px;
	}

	#intro h4 {
		font-size:25px;
	}

	#getting-started .step, #getting-started .step.step-right, #getting-started .step h3, #getting-started .step.step-right h3 {
		margin:10px 0;
	}

	
	#getting-started .step-container img  {
		width:100%;
	}

	#getting-started .step h3 {
		font-size:20px;
	}
}

