body {
	font-size:16px;
	line-height:27px;
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", sans-serif;
}

.highlight {
	font-family: 'Indie Flower', cursive;
}

a {
	color:#428bca;
}

/*------- HEADER --------*/

#header {
	background: url(../img/stretchr-back.png) #1b75bb no-repeat bottom center;
	color:#fff;
	background-size: cover;
}

#header .header-bottom {
	bottom:0;
	background: url(../img/w-page-top-dark.png) repeat-x center bottom;
	height:30px;
	z-index:1000;
	width:100%;
}

#header .header-inner {
	padding-bottom:0;
	min-height:500px;
}

.resources #header .header-inner {
	min-height: 0;
}

.resources #header {
	background-image: url(../img/stretchr-back-small.png);
}

#header .form-container {
	text-align:center;
	margin:30px 0;
}

#header .header-inner .container {
  padding-top: 20px;
}

#header h2 {
	color:#777;
}

#header h2 .rotator {
	color:#383838;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.05em;
  padding-left: 1.5em;
}

#header h2 {
  text-align: right;
}

#header h3 {
	text-align:center;
	font-weight:lighter;
	font-size:3.5em;
	margin-top:5px;
}

#header h4 {
	text-align:center;
	font-size:1.5em;
	font-weight:lighter;
	margin-top:30px;
	margin-bottom:50px;
}

#header .sub-header h3, #header .sub-header h4 {
	text-align:left;
	display:inline-block;
	margin:20px 10px;
	margin-bottom:50px;
}

.stretchr-logo {
  height: 1.05em;
  vertical-align: bottom;
  position: absolute;
  margin-left: -1.5em;
}

#logo a {
	color:#fff;
}

#logo a:hover {
	text-decoration: none;
}

/*-------- CALL TO ACTION ----------*/
#call-to-action {
	background:#303030;
	color:#fff;
	padding: 40px 0;
	margin-top:0;
}

.call-to-action-text {
	text-align:center;
}


/*------------ FEATURES -------------*/

#features {
	background:#f1f1f1;
	padding-top: 10px;
}

#features .feature {
	padding:15px;
	color:#000;
	min-height: 200px;
	text-align:center;
	margin: 10px 0;
}

#features .action {
	padding-top: 10px;
	color:#000;
	font-size: 1.7em;
	text-align: center;
}

#sdks {
	background:#f1f1f1;
	color:#303030;
}

#cognition {
	color:#303030;
}

#cognition .panel img {
	width:100%;
}

pre {
  font-size: 0.6em;
}

.slice {
	margin-top:-10px;
	padding:50px 0;
	position:relative;
}

.slice-bottom {
	height:20px;
	position:absolute;
	bottom:0;
	width:100%;
	background: url(../img/shadow-btm.png) no-repeat bottom center;
}

.section-highlight {
	text-align:center;
}

.section-highlight h2 {
	margin:40px 0;
}

.section-highlight .title {
	line-height:72px;	
	padding:0;
	margin:0;
	font-size:34px;
}

/*----- Testimonial -----*/

#testimonial {
	background: #fff;
	box-shadow: 0  0 5px #000;
}

#testimonial .testimonial-intro {
	text-align:center;
}

#testimonial .testimonial-logo {
	width:100%;
}

#testimonial .quote {
	font-size:22px;
	line-height:33px;
	font-weight:bold;
	padding:40px 15px 15px 50px;
	background: url(../img/quotes.png) no-repeat top left;
}

#testimonial .attribution {
	padding-left:50px;
	color:#777;
}

/*----- animations -------*/

.permissions-animation img {
	position:absolute;
	transition:All 1s;
	-webkit-transition:All 1s;
	-moz-transition:All 1s;
	-o-transition:All 1s;
	top:0;
	right:50px;
	width:400px;
}

.animation {
	transition:All 1s;
	-webkit-transition:All 1s;
	-moz-transition:All 1s;
	-o-transition:All 1s;
}

.permissions-animation .permissions-4{
	transform: rotate(-100deg);
	-webkit-transform: rotate(-100deg);
	-moz-transform: rotate(-100deg);
}

.permissions-animation .permissions-2{
	transform: rotate(88deg);
	-webkit-transform: rotate(88deg);
	-moz-transform: rotate(88deg);
}
.permissions-animation .permissions-3{
	transform: rotate(-65deg);
	-webkit-transform: rotate(-65deg);
	-moz-transform: rotate(-65deg);
}

.permissions-animation.active img {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

/*word drop*/

.nesting-animation {
	padding-top:20px;
}
.collection, .collection-id {
	font-size: 22px;
	line-height:35px;
	font-weight:bolder;
}

.level-1, .level-2 {
	color: #00a550;
}

.level-3, .level-4, .level-6, .level-7 {
	color: #652c90;
}

.level-5, .level-8, .level-9, .level-10 {
	color: #ec008b;
}

.active.level-2 {
	margin-left: 15%;
}

.active.level-3 {
	margin-left: 30%
}

.active.level-4 {
	margin-left: 45%;
}

.active.level-5 {
	margin-left: 60%;
}

.active.level-7 {
	margin-left:15%;
}

.active.level-8 {
	margin-left:30%;
}

.active.level-10 {
	margin-left:15%;
}

/*----- Whitepapers ------*/

.whitepaper-section {
	border-bottom: 1px solid #f1f1f1;
	padding: 20px 0;
}

.cover-container {
	text-align:center;
}

img.cover {
	margin: 0 auto;
	width:300px;
	border: 3px solid #e8e8e8;
}


/*---- FOOTER ----*/

.copyright {
	text-align:right;
}

#footer {
	background:#303030;
	color:#bbb;
}

#footer .copyright {
  color: #888;
}

/* Mobile */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	#header h1, #header h2 {
		text-align:center;
	}

	#header h3 {
		font-size:2em;
		text-shadow: none;
		margin:0;
	}

	#header h4 {
		font-size:1.5em;
		text-shadow: none;
	}

	#header .header-text {
		background: rgba(0, 0, 0, .5);
		color:#fff;
		padding:20px 0;
		margin-top:20px;
	}
}

